<div class="container border rounded p-4 mt-5" style="width: 500px;">
  <div class="row display-4 mb-3">
    <div class="col text-center">
      Pokédex
    </div>
  </div>

  <div class="row">
    <div class="display-6 text-center mt-4" style="font-size: 25px;">Digite o ID do pokemon:</div>
    <div class="input-group mb-4 mt-2">
      <input type="number" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" [(ngModel)] = "idSelecionado">

        <div class="input-group-append" style="border-left: none;">
          <span class="input-group-text" id="inputGroup-sizing-default">
            <fa-icon [icon]="faMagnifyingGlass" (click)="buscarId()" class="icone ml-2"></fa-icon>
          </span>
        </div>


    </div>
  </div>

  <div class="row">
    <div class="display-6 text-center">
      {{getId()}} -
      {{getName() | titlecase}}
    </div>
  </div>



  <div class="p-4 bg-secondary rounded mt-3">
    <div class="row">
      <div class="col-md-2">
        <img [src]="poke.sprites.front_default" width="400px">
      </div>
    </div>

    <div class="row text-white mt-3 mb-4">
      <div class="col">
        There is a plant seed on its back right from the day this Pokémon is born. The seed slowly grows larger.
      </div>
    </div>

    <div class="row text-white justify-content-between">
      <div class="col-md-5 mb-3">
        Altura: {{getAltura()}}
      </div>
      <div class="col-md-5 mb-3">
        Peso: {{getPeso()}}
      </div>
    </div>

    <div class="row text-white justify-content-between">
      <div class="col-md-5">
        Habilidade 1: {{getHabilidade()}}
      </div>
      <div class="col-md-5">
        Habilidade 2: {{getHabilidade2()}}
      </div>
    </div>

    <div class="row m-3 justify-content-between">
      <button (click)="prevPoke()" class="btn border-white w-25 btn-danger">
        < </button>
          <button (click)="nextPoke()" class="btn border-white w-25 btn-success">
            >
          </button>
    </div>
  </div>
</div>
