<div class="container border rounded p-4 mt-5" style="width: 25%;">
  <div class="row display-2 text-warning">
    <div class="col text-center">
      Pokédex
    </div>
  </div>
  <div class="row m-3 justify-content-between">
    <button class="btn border-white w-25 btn-secondary">
      < </button>
        <button class="btn border-white w-25  btn-secondary">
          >
        </button>
  </div>

  <div class="row">
    <div class="display-6 text-center">
      Bulbasaur N-0001
    </div>
  </div>


  <div class="p-4 bg-secondary rounded mt-3">
    <div class="row bg-secondary">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
          width="300px">
      </div>
    </div>

    <div class="row text-white mt-3 mb-4">
      <div class="col">
        There is a plant seed on its back right from the day this Pokémon is born. The seed slowly grows larger.
      </div>
    </div>

    <div class="row text-white justify-content-between">
      <div class="col-md-5 mb-3">
        Altura:
      </div>
      <div class="col-md-5 mb-3">
        Peso:
      </div>
    </div>

    <div class="row text-white justify-content-between">
      <div class="col-md-5">
        Habilidade 1:
      </div>
      <div class="col-md-5">
        Habilidade 2:
      </div>
    </div>
  </div>
</div>
